/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.side_image{
    background-image: url("/src/assets/doctor_logo.jpg");
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.flexContainer{
    background: #fff;
    display: flex;
    width:900px;
    height:550px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.flexContainerForm{
    background: #fff;
    display: flex;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px){
     .side_image{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
        border-radius: 10px 10px 0 0;
    }
    .text p, i{
        font-size: 16px;
    }
    .text{
        position: absolute;
        top: 50%;
        text-align: center;
    }
    .date p, i{
        font-size: 16px;
    }
    .date{
        position: absolute;
        top: 50%;
        text-align: center;
    }
    .row{
        max-width:420px;
        width: 100%;
    }
}